@import url('https://fonts.googleapis.com/css?family=Nunito:100,300,400,500,700,900|Roboto:100,300,400,500,700,900|Satisfy:100,300,400,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Material+Icons');

body {
  font-family: "Roboto";
  font-weight: 400;

  margin: auto;
  background-color: #fafafa;
}

.header {
  width: 100% auto;

  padding: 8px 16px;
}

.presentation {
  background-image: linear-gradient(
    45deg, #3967d4, #68aae3
  );
}

.welcome {
  width: 100%;
  height: 100px;

  position: relative;

  user-select: none;
}

.welcome > .w {
  position: absolute;
  margin: auto;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  width: fit-content;
  height: fit-content;

  color: white;
  font-size: 210%;
}

.container {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 3%;
}

.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: minmax(33%, auto);

  grid-gap: 10px;
}

.project-grid {
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.22);

  background-color: white;

  overflow: hidden;
  border-radius: 4px;
  padding: 12px;

  height: 170px;

  position: relative;
}

.project-grid > .title {
  text-align: center;
  font-size: 21px;
  
  color: rgb(75, 75, 75);

  padding: 4px 0;
}

.project-grid > .des {
  text-align: center;
  font-size: 16px;
  
  color: rgb(75, 75, 75);

  padding: 4px 0;
}

.project-grid > button {
  width: 80%;
  margin-left: 10%;
  margin-bottom: 4%;

  padding: 8px 0;

  font-family: Nunito;
  text-transform: uppercase;
  font-size: 18px;

  margin-top: 8px;

  border-radius: 4px;
  border: none;

  background-color: #06bf56;
  color: white;
  font-weight: 700;

  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
}

.project-grid > button:hover {
  cursor: pointer;
}

.project-grid > button:hover {
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.22);
}

h1, h2 {
  font-weight: 100;

  font-family: Nunito;
}

h3, h4, h5 {
  font-weight: 400;
  padding: 0;
  margin: 0;
}

h6 {
  font-weight: 700;
  padding: 0;
  margin: 0;
}

/* Start responsive mobile */
@media screen and (max-width: 799px) {
  .header {
    z-index: 2;
    position: fixed;

    top: 0;
    left: 0;
    right: 0;

    background-color: #68aae3;
    overflow: hidden;

    height: 46px;

    transition: 200ms;

    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.22);
  }

  .menu-icon {
    width: 42px;
    height: 42px;

    position: absolute;
    top: 10px;
    right: 10px;

    display: block;
  }

  .menus {
    margin-top: 12px;
  }

  .menus > .menu {
    display: block;
    color: white;
    text-decoration: none;

    line-height: 26px;
  }

  .menu:hover {
    padding-left: 8px;
    transition: 150ms;
  }

  .app {
    margin-top: 62px;
  }

  .black {
    z-index: 1;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: rgba(0, 0, 0, 0.22);
  }
}

@media screen and (min-width: 800px) {
  .header {
    z-index: 1;
    position: absolute;

    top: 0;
    left: 0;
    right: 0;

    background-color: #68aae3;
    overflow: hidden;

    height: 46px;

    transition: 200ms;

    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.22);
  }
  
  .menus {
    position: absolute;
  
    top: 0;
    right: 16px;
    bottom: 0;
  
    line-height: 62px;
  }
  
  .menus > .menu {
    padding-left: 4px;
    padding-right: 4px;
  
    color: white;
    text-decoration: none;
  
    user-select: none;
  }

  .menu-icon {
    visibility: hidden;
  }
  
  .menus > .menu:hover {
    text-decoration: underline;
  }

  .app {
    margin-top: 62px;
  }
}
/* End responsive mobile */

@media screen and (min-width: 748px) {
  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 852px) {
  .projects {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1107px) {
  .projects {
    grid-template-columns: repeat(4, 1fr);
  }

  .welcome {
    height: 160px;
  }
}